/* CSS Document for Screens */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}


/* Text */

h1 {
  margin: 0, 0, 1em, 0;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1.1em
}

h2 {
  margin: 0, 0, .5em, 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em
}

h3 {
  margin: 0, 0, .5em, 0;
  font-size: 1.3em;
  font-weight: 700;
}

h4 {
  margin: 0, 0, 1.5em, 0;
  font-size: 1em;
  font-weight: 700;
}

p {
  margin: 0, 0, 1em, 0;
}

a {
  color: #007eff;
}

a:visited {
  color: #65b1ff;
}

a.btn {
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 15px;
  transition: background-color .2s;
}

a.btn:hover {
  background-color: rgba(0, 0, 0, .3);
}



/* navigation */

/
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

 li:hover {
  background-cor: #2b
}
nav ol li:first {font-size: 20px;}

nav ol li:hover>ul {
  display: block
}

nav ol li a {
  display: inline-block;
  color: #fff;
  padding: 10px 28px;
  text-decoration: none;
  width: 190px;
  position: relative;
}

nav ol li a:visited {
  color: #fff;
}

nav ol li a:hover {
  background-color: #6d0911;
}

nav ol ul {
  position: absolute;
  top: 100%;
  background-color: #2b0306;
  list-style: none;
  display: none
}

nav ol ul li {
  position: relative;
}

nav ol ul ul {
  left: 100%;
  top: 0px;
}



nav>ul {
  padding-left: 60px;
}

nav>ul>li {
  float: left;
}

nav>ul>li>a {
  width: auto;
  padding: 10px 20px 15px 20px;
}



  h1 {
    font-size: 1em;
  }
  h3 {
    margin-bottom: 0px;
  }
  a.btn {
    font-size: .9em
  }

  /* Navigation */
  nav {
    padding: 20px 15px 20px 15px;
    background-color: #430c;
    overflow: hidden;
  }
  nav a.mobile_menu {
    display: block;
  }
  nav ol, nav ol ul, nav ol ul ul {
    display: block;
    position: static;
  }
  nav>ul {
    padding: 0;
  }
  nav>ul>li {
    float: none;
    margin-top: 12px;
  }
  nav ol li:hover {
    background: none;
  }
  nav ol li a {
    width: auto;
    display: block;
    margin: 8px 10px;
    padding: 6px 15px 12px 4px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
  }
  nav ol li a:hover {
    background-color: rgba(255, 255, 255, .1)
  }
  nav ol ul {
    background: none;
  }
  nav ol ul li a {
    margin-left: 0px;
  }
  nav ol ul ul li a {
    margin-left: 60px;
  }
  nav [aria-haspopup="true"]::after {
    display: none;
  }
